<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
    <link rel="stylesheet" href="../styles/contacto.css" />
  </head>
  <body>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <!-- Barra de navegación -->
    <nav class="nav-container">
      <ul class="nav-menu">
        <li><a href="index.html" class="nav-link">Ir a inicio</a></li>
        <li><a href="sobre_mi.html" class="nav-link">Sobre mí</a></li>
      </ul>
      <button id="dark-mode-toggle" class="dark-mode-toggle">
        <ion-icon name="moon-outline" class="dark-mode-icon"></ion-icon>
      </button>
    </nav>

    <!-- Contenido principal -->

    <main class="contenido-principal">
      <h2>Contáctame</h2>

      <!-- Formulario de contacto -->

      <form
        action="mailto:afslora@gmail.com"
        method="post"
        enctype="text/plain"
        class="formulario-contacto"
      >
        <label for="nombre" class="formulario-datos">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required />

        <label for="apellido" class="formulario-datos">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required />

        <label for="mensaje" class="formulario-datos">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="5" required></textarea>

        <button type="submit" class="formulario-datos">Enviar mensaje</button>
      </form>

      <!-- Iconos de redes sociales -->

      <ul class="Iconos">
        <li>
          <a href="https://www.instagram.com/andressolanomc90/" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/profile.php?id=100055453456414"
            target="_blank"
          >
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>
        <li>
          <a
            href="https://api.whatsapp.com/send?phone=573013963852"
            target="_blank"
          >
            <ion-icon name="logo-whatsapp"></ion-icon>
          </a>
        </li>
      </ul>
    </main>
    <!-- Footer -->
    <footer class="footer-container">
      <p>&copy; 2025 Andrés Solano. Todos los derechos reservados.</p>
    </footer>

    <!-- Script para el modo oscuro -->
    <script>
      const darkModeToggle = document.getElementById("dark-mode-toggle");
      const body = document.body;

      if (localStorage.getItem("dark-mode") === "enabled") {
        body.classList.add("dark-mode");
      }

      darkModeToggle.addEventListener("click", () => {
        body.classList.toggle("dark-mode");
        localStorage.setItem(
          "dark-mode",
          body.classList.contains("dark-mode") ? "enabled" : "disabled"
        );
      });
    </script>
  </body>
</html>
